@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lemon&family=Pacifico&family=Rubik+Doodle+Shadow&family=Salsa&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
  }
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    /* Add more styling as needed */
  }